/*GENERALES*/
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Koulen&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Koulen&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Koulen&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Koulen&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Koulen&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Koulen&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Koulen&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Koulen&family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Fjalla One', sans-serif;
  background-color: #f3f3f3; }

a {
  text-decoration: none; }

/* Nav */
.navbar {
  background-color: #222222; }

.bar {
  margin-right: 17px; }

.navbar-brand img {
  width: 63px;
  margin-left: 17px; }

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  text-align: center; }
  .navbar-dark .navbar-nav .nav-link:hover {
    color: #b7b6b6;
    transition: all 0.2s ease-in; }

.nav-link {
  font-weight: none;
  font-size: 17px;
  margin: 0 7px;
  padding: 0 8px;
  text-transform: uppercase; }

/*FOOTER*/
footer {
  width: 100%;
  height: 60px;
  margin-top: 30px;
  background-color: #222222; }
  footer strong {
    margin: 20px;
    color: #e4e4e4; }

/* INDEX.HTML */
.mainContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/exercises/handstand2.jpg);
  background-size: cover;
  background-position: center; }

.mainText {
  text-align: center;
  width: 60%;
  color: #ffffffe4; }
  .mainText h1 {
    font-weight: bold;
    text-shadow: 0 0 3px #000; }

/*IndexInfo*/
.sectionOne {
  width: 100%;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 25px; }

.indexInfoContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .indexInfoContent h2 {
    font-size: 26px;
    text-align: center;
    margin-bottom: 15px; }

.indexIframe {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; }
  .indexIframe iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.indexAside {
  align-self: center; }

.linkProgram {
  width: 24vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #2e2e2e;
  border-radius: 3px;
  overflow: hidden; }
  .linkProgram a {
    color: #fff;
    text-align: center; }
    .linkProgram a h3 {
      padding-top: 8px; }
    .linkProgram a img {
      width: 100%; }
  .linkProgram:hover {
    box-shadow: 0 0 7px 1px #000;
    transition: box-shadow .3s; }

/*GENERALES*/
* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Fjalla One', sans-serif;
  background-color: #f3f3f3; }

a {
  text-decoration: none; }

/* Nav */
.navbar {
  background-color: #222222; }

.bar {
  margin-right: 17px; }

.navbar-brand img {
  width: 63px;
  margin-left: 17px; }

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  text-align: center; }
  .navbar-dark .navbar-nav .nav-link:hover {
    color: #b7b6b6;
    transition: all 0.2s ease-in; }

.nav-link {
  font-weight: none;
  font-size: 17px;
  margin: 0 7px;
  padding: 0 8px;
  text-transform: uppercase; }

/*FOOTER*/
footer {
  width: 100%;
  height: 60px;
  margin-top: 30px;
  background-color: #222222; }
  footer strong {
    margin: 20px;
    color: #e4e4e4; }

/* PRODUCTS.HTML */
.sectionProducts {
  margin-top: 20px; }

.titleProducts {
  margin-bottom: 20px;
  text-align: center;
  margin-left: 20px; }

.product {
  cursor: pointer; }
  .product:hover {
    box-shadow: 0 0 5px 1px #000;
    transition: box-shadow .3s; }

.card-body.productInformation {
  background-color: #2e2e2e; }
  .card-body.productInformation p {
    color: #fff; }

.product img {
  border-bottom: 1px solid #bbb; }

/* PROGRAMS.HTML */
.sectionPrograms {
  margin-top: 20px;
  width: 100%; }

.titlePrograms {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 25px;
  text-align: center; }

.descriptionH3 {
  margin-bottom: 18px;
  text-align: center;
  font-size: 19px;
  color: #969595af; }

.programsContainer {
  width: 100%; }

.programs {
  width: 76%;
  margin: 0 auto;
  display: flex;
  flex-direction: row; }

.programPlan {
  width: 300px;
  height: auto;
  background-color: #2e2e2e;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
  cursor: pointer;
  overflow: hidden; }
  .programPlan img {
    width: 100%; }
  .programPlan:hover {
    box-shadow: 0 0 5px 1px #000;
    transition: box-shadow .3s; }

.programText {
  width: 100%;
  margin-top: 5px;
  display: flex;
  justify-content: center; }
  .programText a {
    color: #fff;
    font-size: 17px;
    margin: 7px 0; }

/*GENERALES*/
* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Fjalla One', sans-serif;
  background-color: #f3f3f3; }

a {
  text-decoration: none; }

/* Nav */
.navbar {
  background-color: #222222; }

.bar {
  margin-right: 17px; }

.navbar-brand img {
  width: 63px;
  margin-left: 17px; }

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  text-align: center; }
  .navbar-dark .navbar-nav .nav-link:hover {
    color: #b7b6b6;
    transition: all 0.2s ease-in; }

.nav-link {
  font-weight: none;
  font-size: 17px;
  margin: 0 7px;
  padding: 0 8px;
  text-transform: uppercase; }

/*FOOTER*/
footer {
  width: 100%;
  height: 60px;
  margin-top: 30px;
  background-color: #222222; }
  footer strong {
    margin: 20px;
    color: #e4e4e4; }

/* TEAM.HTML */
.sectionTeam {
  width: 100%;
  margin-top: 30px;
  width: 100%; }

.teamTitle {
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 15px; }

.profiles {
  width: 94%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; }

.profile {
  margin: 15px;
  background-color: #2e2e2e;
  display: flex; }
  .profile img {
    width: 40%;
    height: auto;
    margin: 20px 0 20px 20px;
    border-radius: 3px;
    border: solid 1px #dbdbdb; }

.profileInfo {
  width: 40%;
  font-size: 16px;
  margin: 20px; }
  .profileInfo h3 {
    text-align: left;
    font-size: 14px;
    color: #fff; }
  .profileInfo p {
    color: #fff;
    text-align: justify;
    font-size: 14px; }
  .profileInfo a {
    color: #fff; }
    .profileInfo a:hover {
      color: #dbdbdb;
      transition: all .3s; }

/*GENERALES*/
* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Fjalla One', sans-serif;
  background-color: #f3f3f3; }

a {
  text-decoration: none; }

/* Nav */
.navbar {
  background-color: #222222; }

.bar {
  margin-right: 17px; }

.navbar-brand img {
  width: 63px;
  margin-left: 17px; }

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  text-align: center; }
  .navbar-dark .navbar-nav .nav-link:hover {
    color: #b7b6b6;
    transition: all 0.2s ease-in; }

.nav-link {
  font-weight: none;
  font-size: 17px;
  margin: 0 7px;
  padding: 0 8px;
  text-transform: uppercase; }

/*FOOTER*/
footer {
  width: 100%;
  height: 60px;
  margin-top: 30px;
  background-color: #222222; }
  footer strong {
    margin: 20px;
    color: #e4e4e4; }

/* CONTACT.HTML */
.contact {
  background-color: #2e2e2e;
  box-shadow: 0 0 10px 10px #e0e0e0;
  width: 72%;
  margin: 0 auto;
  color: white;
  margin-top: 20px; }

.titleForm {
  text-transform: uppercase;
  font-size: 25px;
  text-align: center;
  padding-top: 20px; }

.contactForm > * {
  padding: 1rem; }

.contactForm form {
  max-width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin: 0 4rem 2rem 4rem; }

.contactForm p {
  margin: 0;
  width: 100%; }

.contactForm label {
  width: 100%;
  padding: 0.3rem;
  margin: 0.2rem; }

.contactForm textarea {
  width: 95.2%;
  max-width: 99%;
  min-width: 99%;
  padding: 0.3rem;
  margin: 0.2rem; }

.contactForm input {
  width: 98%;
  padding: 0.3rem;
  margin: 0.2rem; }

.block {
  grid-column: 1 / 3; }

.submit {
  grid-template-columns: 1 / 1;
  color: white;
  width: 30%;
  padding: 0.7rem;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  background-image: linear-gradient(to right top, #252525, #551d1d, #6f1818, #9b1111, #c00b0b, #ff0000);
  background-size: 400%; }
  .submit:hover {
    animation: forwards animate 0.8s; }

@keyframes animate {
  0% {
    background-position: left; }
  100% {
    background-position: right;
    transform: translateY(-3px); } }

/*GENERALES*/
* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Fjalla One', sans-serif;
  background-color: #f3f3f3; }

a {
  text-decoration: none; }

/* Nav */
.navbar {
  background-color: #222222; }

.bar {
  margin-right: 17px; }

.navbar-brand img {
  width: 63px;
  margin-left: 17px; }

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  text-align: center; }
  .navbar-dark .navbar-nav .nav-link:hover {
    color: #b7b6b6;
    transition: all 0.2s ease-in; }

.nav-link {
  font-weight: none;
  font-size: 17px;
  margin: 0 7px;
  padding: 0 8px;
  text-transform: uppercase; }

/*FOOTER*/
footer {
  width: 100%;
  height: 60px;
  margin-top: 30px;
  background-color: #222222; }
  footer strong {
    margin: 20px;
    color: #e4e4e4; }

/* INDEX.HTML */
.mainContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/exercises/handstand2.jpg);
  background-size: cover;
  background-position: center; }

.mainText {
  text-align: center;
  width: 60%;
  color: #ffffffe4; }
  .mainText h1 {
    font-weight: bold;
    text-shadow: 0 0 3px #000; }

/*IndexInfo*/
.sectionOne {
  width: 100%;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 25px; }

.indexInfoContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .indexInfoContent h2 {
    font-size: 26px;
    text-align: center;
    margin-bottom: 15px; }

.indexIframe {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; }
  .indexIframe iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.indexAside {
  align-self: center; }

.linkProgram {
  width: 24vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #2e2e2e;
  border-radius: 3px;
  overflow: hidden; }
  .linkProgram a {
    color: #fff;
    text-align: center; }
    .linkProgram a h3 {
      padding-top: 8px; }
    .linkProgram a img {
      width: 100%; }
  .linkProgram:hover {
    box-shadow: 0 0 7px 1px #000;
    transition: box-shadow .3s; }

/*GENERALES*/
* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Fjalla One', sans-serif;
  background-color: #f3f3f3; }

a {
  text-decoration: none; }

/* Nav */
.navbar {
  background-color: #222222; }

.bar {
  margin-right: 17px; }

.navbar-brand img {
  width: 63px;
  margin-left: 17px; }

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  text-align: center; }
  .navbar-dark .navbar-nav .nav-link:hover {
    color: #b7b6b6;
    transition: all 0.2s ease-in; }

.nav-link {
  font-weight: none;
  font-size: 17px;
  margin: 0 7px;
  padding: 0 8px;
  text-transform: uppercase; }

/*FOOTER*/
footer {
  width: 100%;
  height: 60px;
  margin-top: 30px;
  background-color: #222222; }
  footer strong {
    margin: 20px;
    color: #e4e4e4; }

/* PRODUCTS.HTML */
.sectionProducts {
  margin-top: 20px; }

.titleProducts {
  margin-bottom: 20px;
  text-align: center;
  margin-left: 20px; }

.product {
  cursor: pointer; }
  .product:hover {
    box-shadow: 0 0 5px 1px #000;
    transition: box-shadow .3s; }

.card-body.productInformation {
  background-color: #2e2e2e; }
  .card-body.productInformation p {
    color: #fff; }

.product img {
  border-bottom: 1px solid #bbb; }

/* PROGRAMS.HTML */
.sectionPrograms {
  margin-top: 20px;
  width: 100%; }

.titlePrograms {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 25px;
  text-align: center; }

.descriptionH3 {
  margin-bottom: 18px;
  text-align: center;
  font-size: 19px;
  color: #969595af; }

.programsContainer {
  width: 100%; }

.programs {
  width: 76%;
  margin: 0 auto;
  display: flex;
  flex-direction: row; }

.programPlan {
  width: 300px;
  height: auto;
  background-color: #2e2e2e;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
  cursor: pointer;
  overflow: hidden; }
  .programPlan img {
    width: 100%; }
  .programPlan:hover {
    box-shadow: 0 0 5px 1px #000;
    transition: box-shadow .3s; }

.programText {
  width: 100%;
  margin-top: 5px;
  display: flex;
  justify-content: center; }
  .programText a {
    color: #fff;
    font-size: 17px;
    margin: 7px 0; }

/*GENERALES*/
* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Fjalla One', sans-serif;
  background-color: #f3f3f3; }

a {
  text-decoration: none; }

/* Nav */
.navbar {
  background-color: #222222; }

.bar {
  margin-right: 17px; }

.navbar-brand img {
  width: 63px;
  margin-left: 17px; }

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  text-align: center; }
  .navbar-dark .navbar-nav .nav-link:hover {
    color: #b7b6b6;
    transition: all 0.2s ease-in; }

.nav-link {
  font-weight: none;
  font-size: 17px;
  margin: 0 7px;
  padding: 0 8px;
  text-transform: uppercase; }

/*FOOTER*/
footer {
  width: 100%;
  height: 60px;
  margin-top: 30px;
  background-color: #222222; }
  footer strong {
    margin: 20px;
    color: #e4e4e4; }

/* TEAM.HTML */
.sectionTeam {
  width: 100%;
  margin-top: 30px;
  width: 100%; }

.teamTitle {
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 15px; }

.profiles {
  width: 94%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; }

.profile {
  margin: 15px;
  background-color: #2e2e2e;
  display: flex; }
  .profile img {
    width: 40%;
    height: auto;
    margin: 20px 0 20px 20px;
    border-radius: 3px;
    border: solid 1px #dbdbdb; }

.profileInfo {
  width: 40%;
  font-size: 16px;
  margin: 20px; }
  .profileInfo h3 {
    text-align: left;
    font-size: 14px;
    color: #fff; }
  .profileInfo p {
    color: #fff;
    text-align: justify;
    font-size: 14px; }
  .profileInfo a {
    color: #fff; }
    .profileInfo a:hover {
      color: #dbdbdb;
      transition: all .3s; }

/*GENERALES*/
* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Fjalla One', sans-serif;
  background-color: #f3f3f3; }

a {
  text-decoration: none; }

/* Nav */
.navbar {
  background-color: #222222; }

.bar {
  margin-right: 17px; }

.navbar-brand img {
  width: 63px;
  margin-left: 17px; }

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  text-align: center; }
  .navbar-dark .navbar-nav .nav-link:hover {
    color: #b7b6b6;
    transition: all 0.2s ease-in; }

.nav-link {
  font-weight: none;
  font-size: 17px;
  margin: 0 7px;
  padding: 0 8px;
  text-transform: uppercase; }

/*FOOTER*/
footer {
  width: 100%;
  height: 60px;
  margin-top: 30px;
  background-color: #222222; }
  footer strong {
    margin: 20px;
    color: #e4e4e4; }

/* CONTACT.HTML */
.contact {
  background-color: #2e2e2e;
  box-shadow: 0 0 10px 10px #e0e0e0;
  width: 72%;
  margin: 0 auto;
  color: white;
  margin-top: 20px; }

.titleForm {
  text-transform: uppercase;
  font-size: 25px;
  text-align: center;
  padding-top: 20px; }

.contactForm > * {
  padding: 1rem; }

.contactForm form {
  max-width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin: 0 4rem 2rem 4rem; }

.contactForm p {
  margin: 0;
  width: 100%; }

.contactForm label {
  width: 100%;
  padding: 0.3rem;
  margin: 0.2rem; }

.contactForm textarea {
  width: 95.2%;
  max-width: 99%;
  min-width: 99%;
  padding: 0.3rem;
  margin: 0.2rem; }

.contactForm input {
  width: 98%;
  padding: 0.3rem;
  margin: 0.2rem; }

.block {
  grid-column: 1 / 3; }

.submit {
  grid-template-columns: 1 / 1;
  color: white;
  width: 30%;
  padding: 0.7rem;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  background-image: linear-gradient(to right top, #252525, #551d1d, #6f1818, #9b1111, #c00b0b, #ff0000);
  background-size: 400%; }
  .submit:hover {
    animation: forwards animate 0.8s; }

@keyframes animate {
  0% {
    background-position: left; }
  100% {
    background-position: right;
    transform: translateY(-3px); } }

/* MEDIAS QUERY */
@media screen and (min-width: 300px) and (max-width: 600px) {
  /* GENERALES */
  /* INDEX.HTML */
  .sectionOne {
    display: flex;
    flex-direction: column; }
  .indexIframe iframe {
    width: 90%;
    margin: 0 auto; }
  .indexAside {
    width: 100%; }
  .linkProgram {
    width: 80%;
    margin: 0 auto; }
  /* PRUDUCTS.HTML */
  .product {
    margin: 15px 20px; }
  /* PROGRAMS.HTML */
  .descriptionH3 {
    width: 85%;
    margin: 0 auto; }
  .programs {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 0 auto; }
  .programPlan {
    width: 100%;
    margin: 15px 0; }
  /* TEAM.HTML */
  .profiles {
    display: flex;
    flex-direction: column;
    margin: 20px; }
  /* CONTACT.HTML */
  .contact {
    width: 80%; }
  .contactForm {
    width: 100%;
    margin: 0 auto; }
    .contactForm form {
      width: 100%;
      max-width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0; }
    .contactForm label {
      padding: 0.2rem;
      margin-left: 13px; }
    .contactForm input {
      margin-left: 13px;
      width: 90%; }
    .contactForm textarea {
      margin-left: 13px;
      margin-bottom: 10px;
      max-width: 90%;
      min-width: 90%; }
  .submit {
    width: 100%;
    margin: 0; } }

@media screen and (min-width: 601px) and (max-width: 1024px) {
  /* INDEX.HTML */
  /* PRUDUCTS.HTML */
  /* PROGRAMS.HTML */
  .programText h3 {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 14px; }
    .programText h3 a {
      width: 50%; }
  /* TEAM.HTML */
  /* CONTACT.HTML */
  .contactForm form {
    width: 100%;
    margin: 0 auto; }
  .contactForm input {
    width: 95%;
    margin-left: 6px; }
  .contactForm textarea {
    max-width: 97%;
    min-width: 97%;
    margin-left: 6px; } }
