/*GENERALES*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{    
    font-family: 'Quicksand', sans-serif;
    background-color: #f3f3f3;
}

a{
    text-decoration: none;
}


/* Nav */
.navbar{
    background-color: #222222;
}
.bar{
    margin-right: 17px;
}
.navbar-brand img{
    width: 63px;
    margin-left: 17px;
}
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    text-align: center;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: #b7b6b6;
    transition:all 0.2s ease-in;
}
.nav-link{
    font-weight: 900;
    font-size: 17px;
    margin: 0 7px;
    padding: 0 8px;
    text-transform: uppercase;
}

/*FOOTER*/
footer{
    width: 100%;
    height: 60px;
    margin-top: 30px;
    background-color: #222222;
}
footer strong{
    margin: 20px;
    color: rgb(228, 228, 228);
}
/* INDEX.HTML */

.mainSection{
    width: auto;
    margin-bottom: 20px;
}
.mainSection img{
    width: 100%;
}
.mainSection h1{
    margin: 20px 0;
    text-align: center; 
}
.sectionOne{
    display: flex;
    flex-direction: row;
}
.containerImgSlider{
    width: 400px;
    
}

.indexInfo{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
}
.indexInfoContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.indexInfoContent h2{
    font-size: 18px;
    text-align: center;
    margin-bottom: 15px;
}
.indexInfoContent p{
    font-size: 15px;
    text-align: justify;
    margin-left: 20px;
}
.indexAside{
    width: 100%;
    margin: 0 auto    
}
.linkProduct{
    width: 50vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.linkProduct a{
    color: black;
    text-align: center;
    border: #e0e0e0 1px solid;
}
.linkProduct img{
    width: 80%;
    margin: 0 auto;
}

/* PRODUCTS.HTML */

.sectionProducts{
    margin-top: 20px;
}
.titleProducts{
    margin-bottom: 20px;
    text-align: left;
    margin-left: 20px;
}
.shop{
    width: 80%;
    display: flex;
}
.product{
    width: 140px;
    height: 120px;
    display: inline-block;   
    margin-left: 20px;
    margin-right: 5px;
    margin-bottom: 20px;
}
.product img{
    width: 120px;
    border: 1px ridge rgba(255, 255, 255, 0.783);
}
.productInformation h3{
    font-size: 12px;
}
.productInformation a{
    color: black;
}

/* PROGRAMS.HTML */
.sectionPrograms{
    margin-top: 20px;
}
.titlePrograms{
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 20px;
    text-align: left;
    margin-left: 10px;
}
.descriptionH3{
    margin-bottom: 10px;
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    color: rgba(150, 149, 149, 0.687);
}
.programs{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.programPlan{
    width: 300px;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.programPlan img{
    width: 80%;
    border: ridge 1px rgb(97, 97, 97);
}

.programText{
    width: 100%;
    margin-top: 5px;
}
.programText a{
    color: rgb(49, 49, 49);
    font-size: 12px;
    text-align: left;
}

/* TEAM.HTML */
.sectionTeam{
    width: 100%;
    margin-top: 30px;
}
.teamTitle{
    margin-left: 20px;
    font-size: 20px;
    text-align: left;
    margin-bottom: 15px;
}
.profile{
    width: 80%;
    display: flex;
    flex-direction: row;
    
}
.profile img{
    width: 30%;
    height: 300px;
    margin-right: 10px;
    margin-left: 50px;

}

.profileInfo{
    width: 40%;
    font-size: 13px;
}
.profileInfo h3{
    text-align: left;
    font-size: 14px;
    color: rgb(48, 48, 48);
}
.profileInfo p{
    text-align: justify;
    font-size: 11px;
}
/* CONTACT.HTML */
.contact{
    background-color: #2e2e2e;
    box-shadow: 0 0 10px 10px #e0e0e0;
    font-family: 'Quicksand', sans-serif;
    width: 72%;
    margin: 0 auto;
    color:white;
    margin-top: 20px;
}
.titleForm{
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;  
    padding-top: 20px; 
}
.contactForm > *{
    padding: 1rem;
}
.contactForm form{
    max-width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 4rem 2rem 4rem;
    
}
.contactForm p{
    margin: 0
    
}
.contactForm label, p{
    width: 100%;
    padding: 0.3rem;   
    margin: 0.2rem; 
}
.contactForm textarea{
    width: 95.2%;
    max-width: 95.2%;
    min-width: 95.2%;
    padding: 0.3rem;   
    margin: 0.2rem; 
}
.contactForm input {
    width: 90%;
    padding: 0.3rem;   
    margin: 0.2rem; 
}
.block{
    grid-column: 1 / 3;
}

.submit{
    grid-template-columns: 1 / 1;
}
.submit input{
    color: white;
    width: 30%;
    padding: 0.7rem;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    background-image: 
    linear-gradient(to right top ,
    #252525, 
    #551d1d,
    #6f1818,
    #9b1111,
    #c00b0b,
    #ff0000);
    background-size: 400%;
}
.submit input:hover{
    animation: forwards animate 0.8s;
}
@keyframes animate {
    0%{
        background-position: left;
        
    }    
    100%{
        background-position: right;
        transform: translateY(-3px);
    }
}
