/*GENERALES*/
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Koulen&family=Roboto:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Fjalla One', sans-serif;
  background-color: #f3f3f3;
}

a {
  text-decoration: none;
}

/* Nav */
.navbar {
  background-color: $bgcolorOne;
}

.bar {
  margin-right: 17px;
}

.navbar-brand img {
  width: 63px;
  margin-left: 5px;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  text-align: center;

  &:hover {
    color: #b7b6b6;
    transition: all 0.2s ease-in;
  }
}

.nav-link {
  font-weight: none;
  font-size: 17px;
  margin: 0 7px;
  padding: 0 8px;
  text-transform: uppercase;
}

/*FOOTER*/

footer {
  width: 100%;
  margin-top: 30px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/global/footer.jpg);
  background-size: cover;
  background-position:center;
  .footerContainer{
    width: 100%;
    max-width: 90%;
    margin: auto;
    padding: 20px 0;
    .footerLogo{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        width:70px;
      }    
    }
    .footerSocialNetwork{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h2{
        font-size: 20px;
        margin: 15px 0;
        color: #b7b7b7;
      }
      .socialNetwork{
        span{
          color: #b7b7b7;
          font-size: 1rem;
        }
        a{
          display: inline-block;
          text-decoration: none;
          padding: 0 10px;
          color: #b7b7b7;
          &:hover{
            color: #f3f3f3;
            transform: translateY(-2px);
            transition: all .3s ease-in-out;
          }
        }        
      }
      
    }
    .footerAuthor{
      width: 100%;
      margin-top: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      small{
        color: #b7b7b7;
      }
    }
  }
}
