
/* INDEX.HTML */

.mainContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background:  linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/exercises/handstand2.jpg);
    background-size: cover;
    background-position: center;
  }
  .mainText{
    text-align: center;
    width: 60%;
    color: #ffffffe4;
    h1{      
      font-weight: bold;
      text-shadow: 0 0 3px #000;
    }
  }
    
  /*IndexInfo*/
  .sectionOne{
    width: 100%;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 25px;
  }
  .indexInfoContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2 {
      font-size: 26px;
      text-align: center;
      margin-bottom: 15px;
    }
  }
  .indexIframe{
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    iframe{
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  
  .indexAside{
    align-self: center;
  }
  
  .linkProgram{
    width: 24vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;    
    background-color: $bgcolorTwo;
    border-radius: 3px;
    overflow: hidden;
    a {

      color: #fff;
      text-align: center;
      h3{
          padding-top: 8px;
      }
      img{
        width: 100%;
      }

    }
    &:hover{
      box-shadow: 0 0 7px 1px #000;
      transition: box-shadow .3s;
    }
  }