
/* INDEX.HTML */

.mainContainer {
    width: 100%;
    height: 118vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background:  linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/index/l-sit1.jpg);
    background-size: cover;
    background-position: center;
  }
  .mainText{
    text-align: center;
    width: 60%;
    color: #ffffffe4;
    h1{      
      font-weight: bold;
      font-size: 40px;
      text-shadow: 0 0 3px #000;
    }
  }
    
  /*IndexInfo*/
  .indexSectionOne{
    width: 100%;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 18px;
  }
  .indexInfoContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2 {
      font-size: 26px;
      text-align: center;
      margin-bottom: 15px;
    }
  }
  .indexIframe{
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    iframe{
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  
  .indexAside{
    align-self: flex-end;
  }
  
  .linkProgram{
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;    
    background-color: $bgcolorTwo;
    border-radius: 3px;
    overflow: hidden;
    h3{
      padding-top: 8px;
      color: #fff;
      text-align: center;
  }
    a {
      overflow: hidden; 
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        &:hover{
          transform: scale(1.1);
          transition: transform .3s;
        }
      }

    }
    &:hover{
      transition: box-shadow .3s;
      box-shadow: 0 0 7px 7px #a3a3a3;      
    }
  }

  .indexSectionTwo{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    
  }
  
  .carouselAndButton{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .carouselProduct{
    width: 400px;
    box-shadow: 0 0 3px 3px #a3a3a3;
  }
  .pruductButton{
    padding: 10px;
    border: 1px solid $bgcolorTwo;
    color: $bgcolorTwo;
    margin-top: 20px;
    &:hover{
      transition: all .3s ease-in;
      color: #fff;
      background-color: $bgcolorTwo;
    }
  }

  .linkApp{  
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
      text-align: center;
    }  
  }
  .appStore{
    width: 500px;
    border-radius: 3px;
    border: 1px solid #000;
    margin: 10px;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    background-color: #fff;
    p{
      font-size: 25px;
      margin: 0;
    }
    i{
      margin-right: 10px;
      margin-bottom: 5px;
    }
    &:hover{
      transition: all .3s;
      color: #fff;
      background-color: #000;
    }
  }
  .googleStore{
    width: 500px;
    border-radius: 3px;
    border: 1px solid #4285f4;
    margin: 10px;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4285f4;
    background-color: #fff;
    p{
      font-size: 25px;
      margin: 0;
    }
    i{
      margin-right: 10px;
    }
    &:hover{
      transition: all .3s;
      color: #fff;
      background-color: #4285f4;
    }
  }