@import "global";
/* PRODUCTS.HTML */

.sectionProducts {
    margin-top: 20px;
  }
  
  .titleProducts {
    margin-bottom: 20px;
    text-align: center;
    margin-left: 20px;
  }
  .product{
    cursor: pointer;
    &:hover{
      box-shadow: 0 0 5px 1px #000;
      transition: box-shadow .3s;
    }
  }
  .card-body.productInformation {
    background-color: $bgcolorTwo;
    p{
      color: map-get($fontStyle, color);
    }
}
  .product img {
    border-bottom: 1px solid #bbb;
  }
  