
/* PROGRAMS.HTML */

.sectionPrograms {
    margin-top: 20px;
    width: 100%;
  }
  
  .titlePrograms {
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;    
  }
  
  .descriptionProgramH2 {
    width: 90%;
    margin: 0 auto;
    margin-top: 15px;
    text-align: center;
    font-size: 19px;
    color: #606060af;
  }
  .programsContainer{
    margin-top: 20px;
    width: 100%;
  }
  .programs {
    display: flex;
    justify-content: center;
  }
  .programPlan {
    width: 25vw;
    height: auto;
    background-color: $bgcolorTwo;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
    cursor: pointer;
    overflow: hidden;
  
    img {
      width: 100%;
    }
    &:hover{
      box-shadow:0 0 8px 4px #464545;
      transition: box-shadow .3s;
    }
  }
  
  .programText {
    width: 100%;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5px;
    h3{
      width: auto;
      padding-bottom: 0.8px;
      text-transform: uppercase;
      border-bottom: 1.5px solid map-get($fontStyle, color );
      text-align: center;
      color: map-get($fontStyle, color);
      font-size: 17px;
      margin: 5px auto;
    }
    p {
      width: 100%;
      text-align: center;
      color: map-get($fontStyle, color);
      font-size: 15px;
      margin: 0;
    }
  }
  .programDescription{
    p{
      color: #d0d0d0;
      font-size: 12px;

    }
  }
  .programsContainerTwo{
    width: 100%;
  }
  .programsTwo{
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  