@import "global";
/* PRODUCTS.HTML */

.sectionProducts {
    margin-top: 20px;
  }
  
  .titleProducts {
    margin-bottom: 20px;
    text-align: center;
    margin-left: 20px;
  }
  
  .product img {
    border-bottom: 1px solid #bbb;
  }
  