@import "global";
/* PRODUCTS.HTML */

.sectionProducts {
    margin-top: 25px;
  }
  
  .titleProducts {
    text-align: center;
    margin: 0;
  }
  .product{
    cursor: pointer;
    &:hover{
      transition: .3s all ease-in;
      transform: translateY(-5px);
      box-shadow: 0 0 10px 5px #a3a3a3;   
    }
    
  }
  
  
  .card-body.productInformation {
    background-color: $bgcolorTwo;
    padding: 5px;
    p{
      margin: 0;
      padding: 0;
      width: 100%;
      text-align: center;
      color: map-get($fontStyle, color);
    }
}

  .product img {
    border-bottom: 1px solid #bbb;
  }
  