@import "global";
@import "index";
@import "products";
@import "programs";
@import "team";
@import "contact";
/* MEDIAS QUERY */

@media screen and (min-width: 300px) and (max-width: 576px) {
    /* GENERALES */
    footer {
      .footerContainer{
        .footerLogo{
          img{
            width: 50px;
          }    
        }
      }
    }
    /* INDEX.HTML */
    .mainContainer {
      height: 85vh;
      background:  linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/exercises/l-sit4.JPG);
      background-size: cover;
      background-position: center;
    }
    .sectionOne{
      display: flex;
      flex-direction: column;
    }
    .indexIframe iframe{
      width: 90%;
      margin: 0 auto;
    }
    .indexAside{
      width: 100%;
    }
    .linkProgram{
      width: 80%;
      margin: 0 auto;
    }
    .carouselProduct{
      width: 80%;
    }
    /* PRUDUCTS.HTML */
  
    .product {
      margin: 15px 20px;
    }
  
    /* PROGRAMS.HTML */
    .descriptionH3{
      width: 85%;
      margin: 0 auto;
    }
    .programs{
      width: 90%;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
    }
    .programPlan{
      width: 100%;
      margin: 15px 0;
    }
    
    
    /* TEAM.HTML */
    .profiles{
      display: flex;
      flex-direction: column;
      margin: 20px;
    }
    /* CONTACT.HTML */
  
    .contact {
      width: 80%;
    }
  
    .contactForm {
      width: 100%;
      margin: 0 auto;
  
      form {
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
      }
  
      label {
        padding: 0.2rem;
        margin-left: 13px;
      }
  
      input {
        margin-left: 13px;
        width: 90%;
      }
  
      textarea {
        margin-left: 13px;
        margin-bottom: 10px;
        max-width: 90%;
        min-width: 90%;
      }
    }
  
    .submit {
      width: 100%;
      margin: 0;
    }
  }
  
  @media screen and (min-width: 577px) and (max-width: 1024px) {
    /* GENERAL */
    /* INDEX.HTML */
    .mainContainer {
      height: 80vh;
      background:  linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/exercises/l-sit3.JPG);
      background-size: cover;
      background-position:center;
    }
    /* PRUDUCTS.HTML */
    /* PROGRAMS.HTML */
    .programText{
      h3{
        text-align: center;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 14px;
        a{
          width: 50%;
        }
      }
    }
    /* TEAM.HTML */
    /* CONTACT.HTML */
  
    .contactForm {
      form {
        width: 100%;
        margin: 0 auto;
      }
  
      input {
        width: 95%;
        margin-left: 6px;
      }
  
      textarea {
        max-width: 97%;
        min-width: 97%;
        margin-left: 6px;
      }
    }
  }
  