@import "global";
@import "index";
@import "products";
@import "programs";
@import "team";
@import "contact";

/* MEDIAS QUERY */

/* MOBILE */
@media screen and (min-width: 300px) and (max-width: 576px) {
    /* GLOBAL */
    footer {
      width: 100vw;
      .footerContainer{
        .footerLogo{
          img{
            width: 58px;
          }    
        }
      }
    }
    /* INDEX.HTML */
    .mainContainer {
      height: 85vh;
      background:  linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/index/l-sit2.jpg);
      background-size: cover;
      background-position: center;
    }
    .indexSectionOne{
      display: flex;
      flex-direction: column;
    }
    .indexIframe iframe{
      width: 90%;
      margin: 0 auto;
    }
    .indexAside{
      width: 100%;
      margin-bottom: 0;
    }
    .linkProgram{
      width: 70%;
      margin: 0 auto;
    }
    .indexSectionTwo{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;      
    }
  .carouselAndButton{
    margin-bottom: 20px;
    }
    .carouselProduct{
      width: 80%;
    }
    .linkApp{
      height: auto;
    }
    .appStore , .googleStore{
      width: 70vw;
    }
    /* PRUDUCTS.HTML */
  
    .product {
      margin: 15px 20px;
    }
  
    /* PROGRAMS.HTML */

    .descriptionH3{
      width: 85%;
      margin: 0 auto;
    }
    .programs, .programsTwo{
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;
    }
    .programPlan{
      width: 90%;
      margin: 15px 0;
    }
    .programText {
      width: 100%;
      margin-top: 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 5px;
      
    }
    .programsTwo{
      width: 90%;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
    }
    
    /* TEAM.HTML */

    .profiles{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    /* CONTACT.HTML */
  
    .contact {
      width: 80%;
    }
  
    .contactForm {
      width: 100%;
      margin: 0 auto;
  
      form {
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
      }
  
      label {
        padding: 0.2rem;
        margin-left: 13px;
      }
  
      input {
        margin-left: 13px;
        width: 90%;
      }
  
      textarea {
        margin-left: 13px;
        margin-bottom: 10px;
        max-width: 90%;
        min-width: 90%;
      }
    }
  
    .submit {
      width: 100%;
      margin: 0;
    }
  }
  
  @media screen and (min-width: 577px) and (max-width: 1024px) {
    ///  GLOBAL no necesita una vista tablet
    
    /* INDEX.HTML */
    .mainContainer {
      height: 80vh;
    }
    .indexAside{
      margin-bottom: 0;
    }
    .carouselProduct{
      width: 45vw;
      box-shadow: 0 0 3px 3px #a3a3a3;
    }
    .linkApp{
      height: auto;
    }
    .appStore , .googleStore{
      width: 40vw;
    }

    //  PRODUCTS.HTML no necesita una vista tablet

    /* PROGRAMS.HTML */
    .programText{
      h3{
        font-size: 15px;      
      }
    }
    .programPlan {
      width: 29vw;
    }

    //  TEAM.HTML no necesita una vista tablet

    /* CONTACT.HTML */
  
    .contactForm {
      form {
        width: 100%;
        margin: 0 auto;
      }
  
      input {
        width: 95%;
        margin-left: 6px;
      }
  
      textarea {
        max-width: 97%;
        min-width: 97%;
        margin-left: 6px;
      }
    }
  }
  